@import url(../base/_common.scss);
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

@media screen and (max-width: 1199px) {
  .hidden {
    display: none;
  }
}

:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --main-color: #212121;
  --secondary-color: #2F303A;
  --third-color: #AFB1B8;
  --fourth-color: #2196F3;
}

body {
  font-family: var(--main-font);
  color: var(--main-color);
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.container {
  width: 100%;
  align-items: center;
  margin: 0 auto;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .container {
    max-width: 320px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    max-width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 738px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .section {
    padding-top: 60px;
    padding-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

/*  ===== Decoration for links ===== */
.decoration-link {
  text-decoration: none;
}

/* ===== Logo design ===== */
@media screen and (min-width: 768px) {
  .logo {
    font-family: var(--secondary-font);
    color: #212121;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.16;
  }
  .logo-web {
    color: var(--fourth-color);
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    font-family: var(--secondary-font);
    color: #212121;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
  }
  .logo-web {
    color: var(--fourth-color);
  }
}

/* ===== Navigation on website ===== */
.navigation {
  color: #212121;
}

.navigation:hover, .navigation:focus {
  color: var(--fourth-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* ===== Common spacing between letters ===== */
.spacing {
  letter-spacing: 0.03em;
}

/* ===== Modal window ===== */
.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.2, 0.71, 0.71, 0.38), visibility 250ms cubic-bezier(0.2, 0.71, 0.71, 0.38);
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background: #FFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal__form {
  width: 448px;
  margin: 40px auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.modal__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--main-color);
  margin: 0 auto 2px;
}

.modal__label {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
  margin-top: 10px;
}

.modal__input {
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: none;
}

.modal__input:focus {
  border-color: var(--fourth-color);
}

.modal__input:focus + .modal-svg-icon {
  fill: #2196F3;
}

.modal__svg {
  position: relative;
  width: 100%;
}

.modal__svg--icon {
  position: absolute;
  top: 11px;
  left: 15px;
}

.modal__textarea {
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  width: 100%;
  height: 120px;
  resize: none;
  margin-bottom: 20px;
  padding: 12px 16px;
  outline: none;
}

.modal__textarea:focus {
  border-color: var(--fourth-color);
}

.modal__check-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

.modal__disclaimer-wrapper {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.modal__check-label {
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #757575;
  margin-left: 5px;
}

.modal__check-label::before {
  position: absolute;
  display: block;
  left: -5%;
  top: 7%;
  content: "";
  width: 16px;
  height: 16px;
  border: 1px solid #000;
  border-radius: 4px;
}

.modal__form-policy:checked + .modal__check-label::before {
  position: absolute;
  background-color: var(--fourth-color);
  border-color: var(--fourth-color);
  background-image: url(../images/Vector.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.modal__check-label--policy {
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  text-decoration-line: underline;
  color: var(--fourth-color);
  list-style: none;
}

.modal__button {
  background: var(--fourth-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  width: 200px;
  height: 50px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFF;
  cursor: pointer;
}

/* ===== Main title for most sections ===== */
@media screen and (min-width: 768px) {
  .main-title {
    font-weight: bold;
    font-size: 28px;
    line-height: 1.18;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .main-title {
    font-size: 36px;
    line-height: 1.16;
  }
}

/* ===== Header section ===== */
@media screen and (min-width: 768px) {
  .header {
    display: flex;
    align-items: center;
    padding: 21px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  }
  .header__address {
    display: flex;
    flex-direction: column;
    margin-left: 95px;
    height: 38px;
    justify-content: space-between;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
  }
  .header__logo {
    margin-right: 83px;
  }
  .header__nav {
    display: flex;
    align-items: center;
    list-style: none;
  }
  .header__nav--item {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
  .header__nav--item:not(:last-child) {
    margin-right: 60px;
  }
  .header__underline {
    position: relative;
  }
  .header__underline::after {
    position: absolute;
    display: block;
    content: "";
    width: 53px;
    height: 4px;
    background: var(--fourth-color);
    border-radius: 2px;
    top: 45px;
    left: 3px;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    display: flex;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  }
  .header__address {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 350px;
    justify-content: space-between;
    font-size: 14px;
    margin-left: auto;
    margin-right: 50px;
  }
  .header__logo {
    margin-right: 93px;
  }
  .header__nav {
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 14px;
    line-height: 1.14;
  }
  .header__nav--item:not(:last-child) {
    margin-right: 46px;
  }
  .header__underline {
    position: relative;
  }
  .header__underline::after {
    position: absolute;
    display: block;
    content: "";
    width: 53px;
    height: 4px;
    background: var(--fourth-color);
    border-radius: 2px;
    top: 48px;
    left: 3px;
  }
}

/* ===== Contacts section ===== */
.contacts {
  color: #757575;
  fill: #757575;
}

.contacts:hover, .contacts:focus {
  color: var(--fourth-color);
  fill: var(--fourth-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__logo {
  padding-right: 10px;
}

/* ===== Hero section ===== */
@media screen and (min-width: 768px) {
  .hero {
    padding: 118px;
    background-color: var(--secondary-color);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/index/hero/hero-tablet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .hero__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
  }
  .hero__button {
    display: flex;
    border-radius: 4px;
    border: none;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    width: 200px;
    height: 50px;
    background: #F5F4FA;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
  }
  .hero__button:focus, .hero__button:hover {
    background: var(--fourth-color);
    border-color: var(--fourth-color);
    color: #FFF;
    cursor: pointer;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .hero__text {
    display: flex;
    flex-wrap: wrap;
    height: 84px;
    width: 365px;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFF;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px), (min-resolution: 192dpi) and (min-width: 768px), (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/index/hero/hero-tablet@2x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: var(--secondary-color);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/index/hero/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .hero__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
  }
  .hero__button {
    display: flex;
    border-radius: 4px;
    border: none;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    width: 200px;
    height: 50px;
    background: #F5F4FA;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
  }
  .hero__button:focus, .hero__button:hover {
    background: var(--fourth-color);
    border-color: var(--fourth-color);
    color: #FFF;
    cursor: pointer;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .hero__text {
    display: flex;
    flex-wrap: wrap;
    height: 120px;
    width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFF;
  }
}

/* ===== Section with our advantages */
@media screen and (min-width: 768px) {
  .advantage {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    max-width: 768px;
    margin: 0;
    padding-top: 60px;
    padding-bottom: 15px;
  }
  .advantage__icons {
    display: flex;
    background-color: #F5F4FA;
    width: 354px;
    height: 120px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin-bottom: 30px;
  }
  .advantage__item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 354px;
  }
  .advantage__text {
    font-size: 14px;
    line-height: 1.71;
    color: #757575;
    font-weight: 400;
  }
  .advantage__title {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.143;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 1199px) {
  .advantage__text {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .advantage {
    flex-direction: row;
    max-width: 1170px;
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .advantage__icons {
    display: flex;
    background-color: #F5F4FA;
    width: 270px;
    height: 120px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin-bottom: 30px;
  }
  .advantage__item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 270px;
  }
  .advantage__item:not(:last-child) {
    margin-right: 30px;
  }
  .advantage__text {
    font-size: 14px;
    line-height: 1.71;
    color: #757575;
    font-weight: 400;
  }
  .advantage__title {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.143;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
}

/* ===== What we do ===== */
.content-list {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  padding-bottom: 94px;
  list-style: none;
}

.content-list__item {
  position: relative;
  z-index: 0;
}

.content-list__title {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 100%;
  top: 224px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: #FFF;
  background: rgba(47, 48, 58, 0.8);
  z-index: 2;
}

/* ===== Our team members ===== */
@media screen and (min-width: 768px) {
  .staff {
    background-color: #F5F4FA;
  }
  .staff__list {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    list-style: none;
  }
  .staff__list--photo {
    width: 354px;
    height: 374px;
  }
  .staff__list--item {
    display: flex;
    flex-direction: column;
    border-radius: 0px 0px 4px 4px;
    background-color: #FFF;
    padding-bottom: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  }
  .staff__socialmedia {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
  }
  .staff__socialmedia--icon {
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #AFB1B8;
    width: 44px;
    height: 44px;
    border-radius: 50%;
  }
  .staff__socialmedia--icon:not(:last-child) {
    margin-right: 10px;
  }
  .staff__socialmedia--icon:hover, .staff__socialmedia--icon:focus {
    fill: #FFF;
    background-color: var(--fourth-color);
    cursor: pointer;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .staff__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.187;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
  }
  .staff__work {
    font-size: 16px;
    line-height: 1.187;
    text-align: center;
    color: #757575;
    padding-bottom: 16px;
  }
}

@media screen and (max-width: 1199px) {
  .staff__list {
    flex-wrap: wrap;
  }
  .staff__list--item {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .staff {
    background-color: #F5F4FA;
  }
  .staff__list {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    list-style: none;
  }
  .staff__list--photo {
    width: 270px;
    height: 260px;
  }
  .staff__list--item {
    display: flex;
    flex-direction: column;
    border-radius: 0px 0px 4px 4px;
    background-color: #FFF;
    padding-bottom: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  }
  .staff__socialmedia {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
  }
  .staff__socialmedia--icon {
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #AFB1B8;
    width: 44px;
    height: 44px;
    border-radius: 50%;
  }
  .staff__socialmedia--icon:not(:last-child) {
    margin-right: 10px;
  }
  .staff__socialmedia--icon:hover, .staff__socialmedia--icon:focus {
    fill: #FFF;
    background-color: var(--fourth-color);
    cursor: pointer;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .staff__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.187;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
  }
  .staff__work {
    font-size: 16px;
    line-height: 1.187;
    text-align: center;
    color: #757575;
    padding-bottom: 16px;
  }
}

/* ===== Our customers ===== */
:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --main-color: #212121;
  --secondary-color: #2F303A;
  --third-color: #AFB1B8;
  --fourth-color: #2196F3;
}

@media screen and (min-width: 768px) {
  .customers {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
  }
  .customers__list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 226px;
    height: 92px;
    border-radius: 4px;
    border: 1px solid var(--third-color);
    fill: var(--third-color);
  }
  .customers__list:hover, .customers__list:focus {
    fill: var(--fourth-color);
    border: 1px solid var(--fourth-color);
    cursor: pointer;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (max-width: 1199px) {
  .customers {
    flex-wrap: wrap;
  }
  .customers__list {
    margin-bottom: 30px;
  }
  .customers__list:not(:nth-of-type(3n+0)) {
    margin-right: 27px;
  }
}

@media screen and (min-width: 1200px) {
  .customers {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
  }
  .customers__list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border-radius: 4px;
    border: 1px solid var(--third-color);
    fill: var(--third-color);
  }
  .customers__list:not(:last-child) {
    margin-right: 30px;
  }
  .customers__list:hover, .customers__list:focus {
    border: 1px solid var(--fourth-color);
    cursor: pointer;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

/* ===== Footer of the page ===== */
@media screen and (min-width: 768px) {
  .footer {
    padding-bottom: 60px;
    padding-top: 60px;
    background-color: var(--secondary-color);
  }
  .footer__button {
    position: relative;
    margin-left: 12px;
  }
  .footer__button--shape {
    width: 200px;
    height: 50px;
    background: var(--fourth-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    padding-left: 42px;
    margin-top: 20px;
    font-family: var(--main-font);
    font-weight: bold;
    font-size: 16px;
    line-height: 1.875;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFF;
    cursor: pointer;
  }
  .footer__button--send {
    position: absolute;
    top: 47%;
    left: 85%;
  }
  .footer__display {
    display: flex;
    flex-wrap: wrap;
  }
  .footer__list {
    list-style: none;
  }
  .footer__list--color {
    color: rgba(255, 255, 255, 0.6);
  }
  .footer__list--contacts {
    color: #FFF;
    background: var(--secondary-color);
    font-size: 14px;
    line-height: 24px;
    text-align: center;
  }
  .footer__list--contacts:hover, .footer__list--contacts:focus {
    color: var(--fourth-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer__list--item:not(:last-child) {
    padding-bottom: 8px;
  }
  .footer__news {
    width: 450px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    outline: none;
    background: #2F303A;
    font-family: var(--main-font);
    font-weight: normal;
    font-size: 16px;
    line-height: 1.25;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    padding-left: 16px;
  }
  .footer__news:focus {
    color: #FFF;
  }
  .footer__section {
    margin-right: 144px;
  }
  .footer__section2 {
    margin-right: 74px;
  }
  .footer__section--logo {
    color: #FFF;
    background: var(--secondary-color);
    display: flex;
    padding-bottom: 20px;
  }
  .footer__socialmedia {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .footer__socialmedia--icon {
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #FFFFFF;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
  }
  .footer__socialmedia--icon:not(:last-child) {
    margin-right: 10px;
  }
  .footer__socialmedia--icon:hover, .footer__socialmedia--icon:focus {
    background-color: var(--fourth-color);
    cursor: pointer;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer__titles {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 1199px) {
  .footer__button--shape {
    margin-left: 118px;
  }
  .footer__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer__section {
    margin-left: 61px;
    margin-bottom: 60px;
  }
  .footer__section3 {
    display: flex;
    flex-direction: column;
    margin-left: 151px;
    align-items: center;
  }
  .footer__section--logo {
    justify-content: center;
  }
  .footer__titles {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    padding-bottom: 60px;
    padding-top: 60px;
    background-color: var(--secondary-color);
  }
  .footer__button {
    position: relative;
    margin-left: 12px;
  }
  .footer__button--shape {
    width: 200px;
    height: 50px;
    background: var(--fourth-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    padding-left: 42px;
    margin-top: 36px;
    font-family: var(--main-font);
    font-weight: bold;
    font-size: 16px;
    line-height: 1.875;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFF;
    cursor: pointer;
  }
  .footer__button--send {
    position: absolute;
    top: 59%;
    left: 75%;
  }
  .footer__display {
    display: flex;
    flex-direction: row;
  }
  .footer__list {
    list-style: none;
  }
  .footer__list--color {
    color: rgba(255, 255, 255, 0.6);
  }
  .footer__list--contacts {
    color: #FFF;
    background: var(--secondary-color);
  }
  .footer__list--contacts:hover, .footer__list--contacts:focus {
    color: var(--fourth-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer__list--item:not(:last-child) {
    padding-bottom: 9px;
  }
  .footer__news {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    outline: none;
    background: #2F303A;
    font-family: var(--main-font);
    font-weight: normal;
    font-size: 16px;
    line-height: 1.25;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    padding-left: 16px;
  }
  .footer__news:focus {
    color: #FFF;
  }
  .footer__section {
    margin-right: 50px;
  }
  .footer__section2 {
    margin-right: 58px;
  }
  .footer__section--logo {
    color: #FFF;
    background: var(--secondary-color);
    display: flex;
    padding-bottom: 20px;
  }
  .footer__socialmedia {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .footer__socialmedia--icon {
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #FFFFFF;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
  }
  .footer__socialmedia--icon:not(:last-child) {
    margin-right: 10px;
  }
  .footer__socialmedia--icon:hover, .footer__socialmedia--icon:focus {
    background-color: var(--fourth-color);
    cursor: pointer;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer__titles {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio-button {
    background: #F5F4FA;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    border: none;
  }
  .portfolio-button:hover, .portfolio-button:focus {
    background: var(--fourth-color);
    border-color: var(--fourth-color);
    color: #FFF;
    cursor: pointer;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .p_b1 {
    width: 121px;
  }
  .p_b2 {
    width: 93px;
  }
  .p_b3 {
    width: 114px;
  }
  .p_b4 {
    width: 91px;
  }
  .portfolio-list {
    display: flex;
    justify-content: center;
    list-style: none;
  }
  .portfolio-list__button {
    height: 38px;
    border-radius: 4px;
  }
  .portfolio-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 30px;
    cursor: pointer;
    list-style: none;
  }
  .portfolio-projects__photo {
    position: relative;
    width: 354px;
    height: 294px;
    z-index: 1;
  }
  .portfolio-projects__box {
    position: absolute;
    width: 354px;
    height: 294px;
    z-index: 2;
    overflow: hidden;
  }
  .portfolio-projects__box:hover .portfolio-projects__slide {
    transform: translateY(0);
  }
  .portfolio-projects__slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio-projects__slide-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 301px;
    height: 196px;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.55;
    color: #FFF;
  }
  .portfolio-projects__list {
    display: flex;
    flex-direction: column;
    border: 1px solid #EEE;
  }
  .portfolio-projects__list:focus, .portfolio-projects__list:hover {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio-projects__list--text {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
    z-index: 5;
  }
  .portfolio-projects__title {
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    text-align: center;
  }
  .portfolio-projects__group {
    font-size: 16px;
    line-height: 1.875;
    color: #757575;
    text-align: center;
  }
  .portfolio-underline {
    position: relative;
  }
  .portfolio-underline::after {
    position: absolute;
    display: block;
    content: "";
    width: 58px;
    height: 4px;
    background: var(--fourth-color);
    border-radius: 2px;
    top: 45px;
    left: 1px;
  }
}

@media screen and (max-width: 1199px) {
  .portfolio-list__item:not(:last-child) {
    margin-right: 6px;
  }
  .portfolio-projects__list {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-button {
    background: #F5F4FA;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    border: none;
  }
  .portfolio-button:hover, .portfolio-button:focus {
    background: var(--fourth-color);
    border-color: var(--fourth-color);
    color: #FFF;
    cursor: pointer;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .p_b1 {
    width: 121px;
  }
  .p_b2 {
    width: 93px;
  }
  .p_b3 {
    width: 114px;
  }
  .p_b4 {
    width: 91px;
  }
  .portfolio-list {
    display: flex;
    justify-content: center;
    list-style: none;
  }
  .portfolio-list__button {
    height: 38px;
    border-radius: 4px;
  }
  .portfolio-list__item:not(:last-child) {
    padding-right: 8px;
  }
  .portfolio-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 50px;
    cursor: pointer;
    list-style: none;
  }
  .portfolio-projects__photo {
    position: relative;
    width: 370px;
    height: 294px;
    z-index: 1;
  }
  .portfolio-projects__box {
    position: absolute;
    width: 370px;
    height: 294px;
    z-index: 2;
    overflow: hidden;
  }
  .portfolio-projects__box:hover .portfolio-projects__slide {
    transform: translateY(0);
  }
  .portfolio-projects__slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio-projects__slide-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 301px;
    height: 196px;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.55;
    color: #FFF;
  }
  .portfolio-projects__list {
    display: flex;
    flex-direction: column;
    border: 1px solid #EEE;
  }
  .portfolio-projects__list:focus, .portfolio-projects__list:hover {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio-projects__list:nth-child(n+4) {
    margin-top: 30px;
  }
  .portfolio-projects__list--text {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
    z-index: 5;
  }
  .portfolio-projects__title {
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    text-align: center;
  }
  .portfolio-projects__group {
    font-size: 16px;
    line-height: 1.875;
    color: #757575;
    text-align: center;
  }
  .portfolio-underline {
    position: relative;
  }
  .portfolio-underline::after {
    position: absolute;
    display: block;
    content: "";
    width: 58px;
    height: 4px;
    background: var(--fourth-color);
    border-radius: 2px;
    top: 48px;
    left: 1px;
  }
}
/*# sourceMappingURL=main.css.map */