/* ===== Modal window ===== */
.backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);

    transition: opacity 250ms cubic-bezier(.2,.71,.71,.38),
                visibility 250ms cubic-bezier(.2,.71,.71,.38);
}

.close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 50%;
    cursor: pointer;
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;
    background: #FFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
                0px 1px 1px rgba(0, 0, 0, 0.14), 
                0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    &__form {
        width: 448px;
        margin: 40px auto;

        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
    }
    &__title {
        font-weight: bold;
        font-size: 20px;
        line-height: 1.15;
        text-align: center;
        color: var(--main-color);
        margin: 0 auto 2px;
    }
    &__label {
        font-weight: normal;
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.01em;
        color: #757575;
        margin-bottom: 4px;
        margin-top: 10px;
    }
    &__input {
        font-family: var(--main-font);
        font-weight: normal;
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.01em;
        
        border: 1px solid rgba(33, 33, 33, 0.2);
        box-sizing: border-box;
        border-radius: 4px;
        width: 100%;
        height: 40px;
        padding-left: 42px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        outline: none;

        &:focus{
        border-color: var(--fourth-color);
        }
        &:focus + .modal-svg-icon {
            fill: #2196F3;
        }
    }

    &__svg {
    position: relative;
    width: 100%; 
    }
    &__svg--icon {
        position: absolute;
        top: 11px;
        left: 15px;
    }

    &__textarea {
        font-family: var(--main-font);
        font-weight: normal;
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.01em;

        border: 1px solid rgba(33, 33, 33, 0.2);
        box-sizing: border-box;
        border-radius: 4px;

        width: 100%;
        height: 120px;
        resize: none;
        margin-bottom: 20px;
        padding: 12px 16px;
        outline: none;

        &:focus {
            border-color: var(--fourth-color);
        }
    } 

    &__check-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0 auto;
    }
    &__disclaimer-wrapper {
        display: flex;
        position: relative;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
    }

    &__check-label {
        font-family: var(--main-font);
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        color: #757575;
        margin-left: 5px;

        &::before {
            position: absolute;
            display: block;
            left: -5%;
            top: 7%;
            content: "";
            width: 16px;
            height: 16px;
            border: 1px solid #000;
            border-radius: 4px;
        }
    }
    
    &__form-policy:checked + .modal__check-label::before {
        position: absolute;
        background-color: var(--fourth-color);
        border-color: var(--fourth-color);
        background-image: url(../images/Vector.svg);
        background-repeat: no-repeat;
        background-position: center;
    }

    &__check-label--policy {
        font-family: var(--main-font);
        font-weight: normal;
        font-size: 14px;
        line-height: 1.71;
        text-decoration-line: underline;
        color: var(--fourth-color);
        list-style: none;
    }
    &__button {
        background: var(--fourth-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        border: none;

        width: 200px;
        height: 50px;

        font-weight: bold;
        font-size: 16px;
        line-height: 1.875;

        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        color: #FFF;
        cursor: pointer;
    }
}
