:root {
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --main-color: #212121; 
    --secondary-color: #2F303A;
    --third-color: #AFB1B8;
    --fourth-color: #2196F3;
}