/* ===== Section with our advantages */
.advantage {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style: none;

    &__icons {
        display: flex;
        background-color: #F5F4FA;
        width: 450px;
        height: 120px;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        margin-bottom: 30px;
    }

    &__item{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }

    &__text {
        font-size: 14px;
        line-height: 1.71;
        color: #757575;
    }

    &__title {
        display: flex;
        justify-content: center;
        font-weight: bold;
        font-size: 14px;
        line-height: 1.143;
        text-transform: uppercase;
        margin-bottom: 10px;
    }
}

/*.advantage{
    display: flex;

    &__icons {
        display: flex;
        background-color: #F5F4FA;
        width: 270px;
        height: 120px;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        margin-bottom: 30px;
    }
    
    &__item{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 270px;

        &:not(:last-child) {
            margin-right: 30px;
        }
    }
    
    &__text {
        font-size: 14px;
        line-height: 1.71;
        color: #757575;
        font-weight: 400;
    }
    
    &__title {
        font-weight: bold;
        font-size: 14px;
        line-height: 1.143;
        text-transform: uppercase;
        margin-bottom: 10px;
    }
}*/