/* ===== Our customers ===== */
.customers {
    display: flex;
    flex-direction: row;
    margin-top: 50px;

    &__list {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 170px;
        height: 92px;
        border-radius: 4px;
        border: 1px solid var(--third-color);
        fill: var(--third-color);

        &:not(:last-child) {
            margin-right: 30px;
        }
        &:hover,
        &:focus {
            fill: var(--fourth-color);
            border: 1px solid var(--fourth-color);
            cursor: pointer;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }
    }
}
